body {
    font-family: Arial;
    font-size: 0.80em;
}

#viewport {
    width: 100%;
    margin: 2%;
}

div {
    display: block;
}

#topNavigation {
    margin-top: 1%;
    list-style-position: inside;
}

#topNavigation li{
    display: inline;
    float: right;
    margin-right: 1.5%;
}

#topNavigationBar {
    display: block;
    clear: both;
    margin: 2%;
    position: relative;
}

.text {
    vertical-align: middle;
    color: gray;
}

.text a {
    text-decoration: none;
    margin-right: 50%;
    color: black;
}

.text a:hover {
    text-decoration: underline;
}

.icon {
    width: 30px;
    height: 30px;
    min-height: 100%;
}

#apps {
    /*background: url("../images/icons.PNG") -132px -38px;*/
    background-image: url("../images/icons.PNG");
    background-position: -200% -50%;
    max-width: 100%;
}

#notif {
    background-color: black;
    background-image: url("../images/icons.PNG");
    background-position: -197px -20px;
    border-radius: 50%;
    background-origin: content-box;
}

#profilePic {
    background-image: url("../images/profilePic.JPG");
    border-radius: 50%;
}

#logo{
    clear: both;
}

.spacer {
    clear: both;
}

