body {
    font-family: Arial;
    font-size: 0.80em;
}

#viewport {
    max-width: 100%;
    margin: 2%;
}

div {
    display: block;
}

#topNavigation {
    height: 100%;
}

#topNavigation li{
    display: inline;
    float: right;
    margin-right: 1.5%;
    height: 100%;
    position: relative;
}

#topNavigationBar {
    display: block;
    clear: both;
    margin: 2%;
    height: 2.5em;
}

.text {
    color: gray;
    position: relative;
    top: 25%;
}

.text a {
    text-decoration: none;
    color: black;
}

.text a:hover {
    text-decoration: underline;
}

.icon {
    width: 30px;
    height: 30px;
    min-height: 100%;
}

#apps {
    /*background: url("../images/icons.PNG") -132px -38px;*/
    opacity: 10%;
    background-image: url("../images/icons.PNG");
    background-position: -132px -38px;
}

#notif {
    background-color: black;
    background-image: url("../images/icons.PNG");
    background-position: -197px -20px;
    border-radius: 50%;
    background-origin: content-box;
}

#profilePic {
    background-image: url("../images/profilePic.JPG");
    border-radius: 50%;
}

#logo{
    clear: both;
    margin-top: 10%;
}

#googleLogo {
    position: relative;
    top: 50%;
    left: 40%;
}

.spacer {
    clear: both;
}

li div{
    min-height: 100%;
}

#Australia {
    color: #4285F4;
    font-size: 1.25em;
    position: relative;
    left: 58%;
    top: 30%;
}