body {
    font-family: Arial;
    font-size: 0.80em;
    width: 100%;
}

#viewport {
    width: 100%;
    margin: 2% 0 2% 0;
}

div {
    display: block;
    height: 100%;
}

#topNavigation {
    height: 100%;
}

#topNavigation li{
    display: inline;
    float: left;
    margin-left: 15px;
    height: 100%;
    position: relative;
}

#topNavigationBar {
    position: fixed;
    top: 0;
    right: 0;
    display: block;
    width: 350px;
    clear: both;
    float: right;
    height: 30px;
    margin: 2% 2% 0 0;
}

.text {
    color: gray;
    position: relative;
    top: 25%;
}

.text a {
    text-decoration: none;
    color: black;
}

.text a:hover {
    text-decoration: underline;
}

.icon {
    width: 30px;
    height: 30px;
    min-height: 100%;
}

#apps {
    opacity: 0.5;
}

#apps:hover {
    opacity: 1;
}

#apps  div{
    /*background-image: url("../images/icons.PNG");*/
    background-image: url("http://ssl.gstatic.com/gb/images/i1_1967ca6a.png");
    background-position: -132px -38px;
}

#notif {
    background-color: gray;
    border-radius: 50%;
}

#notif:hover{
    background-color: black;
    border-radius: 50%;
}

#notif  div{
    width: 15px;
    height: 15px;
    /*background-image: url("../images/icons.PNG");*/
    background-image: url("http://ssl.gstatic.com/gb/images/i1_1967ca6a.png");
    background-position: -197px -20px;
    position: relative;
    top: 6px;
    left: 8px;
}

#profilePic div{
    background-image: url("../images/profilePic.JPG");
    border-radius: 50%;
}

#logo{
    clear: both;
    margin: 200px auto 0 auto;
    height: 100px;
    background-image: url("../images/googleLogo.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.spacer {
    clear: both;
}

li div{
    min-height: 100%;
}

#inputContainer {
    clear: both;
    height: 20px;
    width: 600px;
    margin: 30px auto 0 auto;
    padding: 0.5%;
    border: 1px solid #4285F4;
}

form {
    height: 100%;
}

input {
    height: 100%;
    width: 100%;
}

#inputBox {
    width: 500px;
    height: 100%;
    float: left;
}

#inputBox input{
    border: none;
}

#inputBox input:focus {
    outline: none;
}

#mic {
    width: 30px;
    height: 100%;
    float: right;
}

#mic div{
    width: 100%;
    height: 100%;
    background-image: url("../images/mic.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

#buttonsContainer {
    height: 25px;
    width: 300px;
    margin: 30px auto 0 auto;
}

#buttonsContainer  div{
    width: 48%;
    padding-top: 10px; 
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    background-color: #f2f2f2;
    color: #737373;
    border: 1px solid white;
    border-radius: 3px;
}

#buttonsContainer div:hover{
    border: 1px solid #b3b3b3;
    color: black;
}

#button1 {
    float: left;
}

#button2 {
    float: right;
}

#footer {
    height: 40px;
    width: 100%;
    background-color: #f2f2f2;
    border-top: 1px solid #e6e6e6;
    position: fixed;
    bottom: 0;
    font-size: 1em;
    color: #737373;
}

#footerLeft {
    height: 50%;
    float: left;
}

#footer li {
    display: inline;
    float: left;
    margin: 0 15px 0 15px;
}

#footer div{
    position: relative;
    top: 35%;
}

#footerRight {
    height: 50%;
    float: right;
}

#footerLeft {
    margin-left: 15px;
}

#footerRight {
    margin-right: 15px;
}